*{
	margin: 0px;
	padding: 0px;
}

.left{
	width:17%;
	height: 100%;
	background-color:black;
	float: left;
}

img{
	width: 100%;
	height:30% ;
}

h2{
	font-size: 22px;
	color: white;
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 20px  0px 10px 0px;
	border-bottom:2px solid orange; 
}

h4{
	margin-left:35px;
	color: white;
	padding:15px 0px 0px 0px;
}

h5{
	color: white;
}

h6{
	color: white;
	font-weight: normal;
}

#c1{
	margin-left: 40px;
	padding-bottom: 20px;
}

.education{
	color: white;
	font-size:10px;
	font-weight: normal;
	margin-left:35px;
	padding-bottom: 20px;
}




.right{
	width: 83%;
	height:100%;
	float: right;
	
}

.head{
	padding-top: 30px;
	padding-left: 30px;
	font-size: 26px;
	font-weight: bold;
	font-family: "The Beast", Georgia, serif;
	margin-top: 4%;
	height: 13%;
	border:none;
	color: black;
	background-color: #F89700;
}

#p{
	font-weight: normal;
	font-family: 'Marta', sans-serif;                                                
	font-size: 20px;
}

.obj h2{
                                    
	color: black;
	margin-left: 30px;
	border-bottom: 2px solid black;
}
.obj{
	margin-right: 50px;
}
.obj p{
	margin-left: 30px;
}
.fields h2{
	color: black;
	margin-left: 30px;
	border-bottom: 2px solid black;
}

.fields{
	margin-right: 50px;
}
.fields ul{
	margin-left: 30px;
	list-style: none;
}

.skill h2{
	margin-right: 50px;
	color: black;
	border-bottom: 2px solid black;
}

#skill{
	margin-left: 30px;
	float: left;
	
}

#skill h4{
	border-bottom: 1px solid black;
	color: black;
	margin-left: 10px;
}

#skill ul{
	padding-top: 10px;
	list-style: none;
	margin-left: 30px;
}
#skill ul li{
	padding-bottom: 10px;
}

.summary{
	width: 80%;
	
	float: right;
	margin-right: 50px;
}

.summary h4{
	border-bottom: 1px solid black;
	color: black;

}

.summary p{
	border-top: 10px;
	padding-top: 10px;
	border: 0px 0px 0px 1px solid black;
	color: black;
	margin-left: 50px;
	padding-bottom: 10px;
	height: 26%;
	overflow: scroll;
}
